table{
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}  
th, td{
    text-align: center;
    padding: 10px;
}
button{
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button:hover {
    background-color: #f0f0f0;
}  