<h1>Component</h1>
<h2>Employee Details</h2>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Designation</th>
            <th>ID</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ramesh</td>
            <td>9876543210</td>
            <td>SDE-1</td>
            <td>ACCE-001</td>
            <td>ramesh@accenture.com</td>
        </tr>
        <tr>
            <td>Suresh</td>
            <td>9753124680</td>
            <td>Intern</td>
            <td>ACCE-002</td>
            <td>suresh@accenture.com</td>
        </tr>
        <tr>
            <td>Kamlesh</td>
            <td>9865321470</td>
            <td>ML-Engineer</td>
            <td>ACCE-003</td>
            <td>kamlesh@accenture.com</td>
        </tr>
        <tr>
            <td>Mukesh</td>
            <td>9875431260</td>
            <td>Project Manager</td>
            <td>ACCE-004</td>
            <td>mukesh@accenture.com</td>
        </tr>
        <tr>
            <td>Rakesh</td>
            <td>9632480751</td>
            <td>HR</td>
            <td>ACCE-005</td>
            <td>rakesh@accenture.com</td>
        </tr>
        <tr>
            <td>Shailesh</td>
            <td>9078563412</td>
            <td>Full Stack Developer</td>
            <td>ACCE-006</td>
            <td>shailesh@accenture.com</td>
        </tr>
    </tbody>
</table>